/* ===================== */
/* 1. TAG SELECTOR */
/* ===================== */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

h1 {
    color: white;
}

p {
    color: #333;
}


/* ===================== */
/* 2. ID SELECTOR */
/* ===================== */
#main-header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

#main-footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}


/* ===================== */
/* 3. CLASS SELECTOR */
/* ===================== */
.container {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.section-title {
    color: #007BFF;
}

.service-item {
    padding: 5px;
}


/* ===================== */
/* 4. CHILD SELECTOR */
/* ===================== */
.container>p {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: green;
}

.services-list>li {
    list-style: disc;
    border-bottom: 1px solid #ccc;
    padding: 8px;
}